<a href="https://colab.research.google.com/github/tpenanen/Laptop-Price-Project/blob/main/Clustering_(With_Pipeline).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import root_mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import mean_squared_error
from sklearn import metrics
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor

data = pd.read_csv('laptop_price.csv', encoding = 'latin1')
data.head()

data['target'] = (data['Price_usd']).astype(int)
del data['Price_usd']

categorical_columns = data.select_dtypes(include='object').columns.tolist()
print(categorical_columns)

data_features = data.drop(["target", "Price_euros"], axis=1)

print(data["Company"].unique())
name = data["Company"]
Company_names = []
Acer_count = Apple_count=Asus_count=Chuwi_count = Dell_count = Fujitsu_count= Google_count = HP_count = Huawei_count = Lenovo_count = LG_count = Media_count = Microsoft_count=0
Msi_count = razer_count = samsung_count = toshi_count = vero_count = Xiaomi_count = 0
for c in name:
  c = c.strip()
  if c == "Acer":
    Acer_count+=1
    Company_names.append("Acer")
  if c == "Apple":
    Apple_count+=1
    Company_names.append("Apple")
  if c == "Asus":
    Asus_count+=1
    Company_names.append("Asus")
  if c == "Chuwi":
    Chuwi_count+=1
    Company_names.append("Chuwi")
  if c == "Dell":
    Dell_count+=1
    Company_names.append("Dell")
  if c == "Fujitsu":
    Fujitsu_count+=1
    Company_names.append("Fujitsu")
  if c == "Google":
    Google_count+=1
    Company_names.append("Google")
  if c == "HP":
    HP_count+=1
    Company_names.append("HP")
  if c == "Huawei":
    Huawei_count+=1
    Company_names.append("Huawei")
  if c == "Lenovo":
    Lenovo_count+=1
    Company_names.append("Lenovo")
  if c == "LG":
    LG_count+=1
    Company_names.append("LG")
  if c == "Mediacom":
    Media_count+=1
    Company_names.append("Mediacom")
  if c == "Microsoft":
    Microsoft_count+=1
    Company_names.append("Microsoft")
  if c == "MSI":
    Msi_count+=1
    Company_names.append("MSI")
  if c == "Razer":
    Company_names.append("Razer")
    razer_count+=1
  if c == "Samsung":
    Company_names.append("Samsung")
    samsung_count+=1
  if c == "Toshiba":
    Company_names.append("Toshiba")
    toshi_count+=1
  if c == "Vero":
    Company_names.append("Vero")
    vero_count+=1
  if c == "Xiaomi":
    Company_names.append("Xiaomi")
    Xiaomi_count+=1

print(Acer_count,Asus_count,Apple_count,Chuwi_count,Dell_count,HP_count,Huawei_count,Lenovo_count,LG_count,Media_count,Microsoft_count,Msi_count,razer_count,samsung_count,toshi_count,vero_count,Xiaomi_count)

data["Company_converted"] = Company_names
print(data[["Company","Company_converted"]].head())

le = LabelEncoder()
data['Company_Label'] = le.fit_transform(data['Company_converted'])
print(data[['Company_converted', 'Company_Label']].head())

print("Label mapping:", dict(zip(le.classes_, le.transform(le.classes_))))

a = data['Gpu']
intel_count = 0
Nvidia_count = 0
Amd_count = 0
Gpu_brands = []
for i in a:
  m = i.split(" ")
  if m[0] == "Intel":
    intel_count +=1
    Gpu_brands.append("Intel")
  if m[0] == "Nvidia":
    Nvidia_count += 1
    Gpu_brands.append("Nvidia")
  if m[0] == "AMD":
    Amd_count +=1
    Gpu_brands.append("AMD")
  if m[0] == "ARM":
    Gpu_brands.append("ARM")
print(intel_count)
print(Nvidia_count)
print(Amd_count)
print(intel_count+Amd_count+Nvidia_count)
data["Gpu_Brands"] = Gpu_brands
print(data[["Gpu","Gpu_Brands"]].head())

le = LabelEncoder()
data['Gpu_Brands_Label'] = le.fit_transform(data['Gpu_Brands'])
print(data[['Gpu_Brands', 'Gpu_Brands_Label']].head())

print("Label mapping:", dict(zip(le.classes_, le.transform(le.classes_))))

from sklearn.preprocessing import LabelEncoder
CPU = data["Cpu"]
Cpu_brands = []
for m in CPU:
  Cpu_split= m.split(" ")
  if Cpu_split[0] == "Intel":
    if Cpu_split[1] == "Core":
      if Cpu_split[2] == "i3":
        Cpu_brands.append("Core i3")
      if Cpu_split[2] == "i5":
        Cpu_brands.append("Core i5")
      if Cpu_split[2] == "i7":
        Cpu_brands.append("Core i7")
      if Cpu_split[2] == "M":
        Cpu_brands.append("Core M")
    if Cpu_split[1] == "Xeon":
      Cpu_brands.append("Xeon")
    if Cpu_split[1] == "Pentium":
      Cpu_brands.append("Pentium")
    if Cpu_split[1] == "Celeron":
      Cpu_brands.append("Celeron")
    if Cpu_split[1] == "Atom":
      Cpu_brands.append("Atom")

  if Cpu_split[0] == "AMD":
    Cpu_brands.append("AMD")

  if Cpu_split[0] == "Samsung":
    Cpu_brands.append("Samsung")



data["Cpu_Brands"] = Cpu_brands
print(data[["Cpu","Cpu_Brands"]].head())

le = LabelEncoder()
data['Cpu_Brands_Label'] = le.fit_transform(data['Cpu_Brands'])
print(data[['Cpu_Brands', 'Cpu_Brands_Label']].head())

print("Label mapping:", dict(zip(le.classes_, le.transform(le.classes_))))

Type = data["TypeName"]
note_count = 0
ultra_count = 0
conv_count = 0
gaming_count = 0
net_count = 0
work_count = 0
print(data["TypeName"].unique())
Type_names = []
for t in Type:
  if t == "Notebook":
    note_count +=1
    Type_names.append("Notebook")
  if t == "Ultrabook":
    ultra_count += 1
    Type_names.append("Ultrabook")
  if t == "2 in 1 Convertible":
    conv_count += 1
    Type_names.append("Convertible")
  if t == "Gaming":
    Type_names.append("Gaming")
    gaming_count += 1
  if t == "Netbook":
    net_count += 1
    Type_names.append("Netbook")
  if t == "Workstation":
    Type_names.append("Workstation")
    work_count += 1
print(note_count)
print(ultra_count)
print(conv_count)
print(gaming_count)
print(net_count)
print(work_count)

data["TypeName_converted"] = Type_names
print(data[["TypeName","TypeName_converted"]].head())

le = LabelEncoder()
data['TypeName_Label'] = le.fit_transform(data['TypeName_converted'])
print(data[['TypeName_converted', 'TypeName_Label']].head())

print("Label mapping:", dict(zip(le.classes_, le.transform(le.classes_))))

print(data["Ram"].unique())
ram = data["Ram"]
ram_types = []
count_2=count_4=count_6=count_8=count_12=count_16=count_24=count_32=count_64=0
for r in ram:
  if r == "2GB":
    ram_types.append("2")
    count_2+=1
  if r == "4GB":
    count_4+=1
    ram_types.append("4")
  if r == "6GB":
    count_6 +=1
    ram_types.append("6")
  if r == "8GB":
    count_8+=1
    ram_types.append("8")
  if r == "12GB":
    count_12+=1
    ram_types.append("12")
  if r == "16GB":
    count_16+=1
    ram_types.append("16")
  if r == "24GB":
    count_24+=1
    ram_types.append("24")
  if r == "32GB":
    count_32+=1
    ram_types.append("32")
  if r == "64GB":
    count_64+=1
    ram_types.append("64")

print(count_2,count_4,count_6,count_8,count_12,count_16,count_24,count_32,count_64)
data["Ram_types"] = ram_types
print(data[["Ram","Ram_types"]].head())

OP = data["OpSys"]
op_systems = []
for o in OP:
  if o == "Windows 10":
    op_systems.append("Windows 10")
  if o == "Windows 10 S":
    op_systems.append("Windows 10")
  if o == "Windows 7":
    op_systems.append("Windows 7")
  if o == "Linux":
    op_systems.append("Linux")
  if o == "Mac OS X":
    op_systems.append("Mac OS")
  if o == "macOS":
    op_systems.append("Mac OS")
  if o == "No OS":
    op_systems.append("No OS")
  if o == "Chrome OS":
    op_systems.append("Chrome OS")
  if o == "Android":
    op_systems.append("Android")
data["Operating_system"] = op_systems
print(data[["OpSys","Operating_system"]].head())

le = LabelEncoder()
data['OperatingSys_label'] = le.fit_transform(data['Operating_system'])
print(data[['OperatingSys_label', 'Operating_system']].head())

print("Label mapping:", dict(zip(le.classes_, le.transform(le.classes_))))

def memory_to_gb(mem_string):
    mem_string = mem_string.upper().replace(' ', '')
    parts = mem_string.split('+')
    total_gb = 0
    for part in parts:
        if 'TB' in part:
            num = part.split('TB')[0]
            try:
                total_gb += float(num) * 1000
            except:
                continue
        elif 'GB' in part:
            num = part.split('GB')[0]
            try:
                total_gb += float(num)
            except:
                continue
    return total_gb
data['Memory_GB'] = data['Memory'].apply(memory_to_gb)
print(data[['Memory', 'Memory_GB']].head())

data["Weight"] = data["Weight"].str.replace("kg", "")

['Company', 'Product', 'TypeName', 'ScreenResolution', 'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight']
['Acer' 'Apple' 'Asus' 'Chuwi' 'Dell' 'Fujitsu' 'Google' 'HP' 'Huawei'
 'Lenovo' 'LG' 'Mediacom' 'Microsoft' 'MSI' 'Razer' 'Samsung' 'Toshiba'
 'Vero' 'Xiaomi']
103 158 21 3 297 274 2 297 3 7 6 54 7 9 48 4 4
  Company Company_converted
0    Acer              Acer
1    Acer              Acer
2    Acer              Acer
3    Acer              Acer
4    Acer              Acer
  Company_converted  Company_Label
0              Acer              0
1              Acer              0
2              Acer              0
3              Acer              0
4              Acer              0
Label mapping: {'Acer': np.int64(0), 'Apple': np.int64(1), 'Asus': np.int64(2), 'Chuwi': np.int64(3), 'Dell': np.int64(4), 'Fujitsu': np.int64(5), 'Google': np.int64(6), 'HP': np.int64(7), 'Huawei': np.int64(8), 'LG': np.int64(9), 'Lenovo': np.int64(10), 'MSI': np.int64(11), 'Mediacom': np.int64(12), 'Microsoft': np.int64(13), 'Razer': np.int64(14), 'Samsung': np.int64(15), 'Toshiba': np.int64(16), 'Vero': np.int64(17), 'Xiaomi': np.int64(18)}
722
400
180
1302
                      Gpu Gpu_Brands
0           AMD Radeon R5        AMD
1  Intel UHD Graphics 620      Intel
2   Intel HD Graphics 620      Intel
3  Intel UHD Graphics 620      Intel
4    Nvidia GeForce MX150     Nvidia
  Gpu_Brands  Gpu_Brands_Label
0        AMD                 0
1      Intel                 2
2      Intel                 2
3      Intel                 2
4     Nvidia                 3
Label mapping: {'AMD': np.int64(0), 'ARM': np.int64(1), 'Intel': np.int64(2), 'Nvidia': np.int64(3)}
                          Cpu Cpu_Brands
0     AMD A9-Series 9420 3GHz        AMD
1  Intel Core i5 8250U 1.6GHz    Core i5
2  Intel Core i3 7130U 2.7GHz    Core i3
3  Intel Core i5 8250U 1.6GHz    Core i5
4  Intel Core i7 8550U 1.8GHz    Core i7
  Cpu_Brands  Cpu_Brands_Label
0        AMD                 0
1    Core i5                 5
2    Core i3                 4
3    Core i5                 5
4    Core i7                 6
Label mapping: {'AMD': np.int64(0), 'Atom': np.int64(1), 'Celeron': np.int64(2), 'Core M': np.int64(3), 'Core i3': np.int64(4), 'Core i5': np.int64(5), 'Core i7': np.int64(6), 'Pentium': np.int64(7), 'Samsung': np.int64(8), 'Xeon': np.int64(9)}
['Notebook' 'Ultrabook' '2 in 1 Convertible' 'Gaming' 'Netbook'
 'Workstation']
727
196
121
205
25
29
    TypeName TypeName_converted
0   Notebook           Notebook
1  Ultrabook          Ultrabook
2   Notebook           Notebook
3   Notebook           Notebook
4   Notebook           Notebook
  TypeName_converted  TypeName_Label
0           Notebook               3
1          Ultrabook               4
2           Notebook               3
3           Notebook               3
4           Notebook               3
Label mapping: {'Convertible': np.int64(0), 'Gaming': np.int64(1), 'Netbook': np.int64(2), 'Notebook': np.int64(3), 'Ultrabook': np.int64(4), 'Workstation': np.int64(5)}
['4GB' '8GB' '6GB' '12GB' '2GB' '16GB' '32GB' '24GB' '64GB']
22 375 41 619 25 200 3 17 1
   Ram Ram_types
0  4GB         4
1  8GB         8
2  4GB         4
3  4GB         4
4  8GB         8
        OpSys Operating_system
0  Windows 10       Windows 10
1  Windows 10       Windows 10
2       Linux            Linux
3  Windows 10       Windows 10
4  Windows 10       Windows 10
   OperatingSys_label Operating_system
0                   5       Windows 10
1                   5       Windows 10
2                   2            Linux
3                   5       Windows 10
4                   5       Windows 10
Label mapping: {'Android': np.int64(0), 'Chrome OS': np.int64(1), 'Linux': np.int64(2), 'Mac OS': np.int64(3), 'No OS': np.int64(4), 'Windows 10': np.int64(5), 'Windows 7': np.int64(6)}
      Memory  Memory_GB
0  500GB HDD      500.0
1  256GB SSD      256.0
2    1TB HDD     1000.0
3  256GB SSD      256.0
4  256GB SSD      256.0

In [ ]:
data = data.drop(['Company',
                  'Product',
                  'TypeName',
                  'ScreenResolution',
                  'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys',
                  'Company_converted', 'TypeName_converted',
                  'Cpu_Brands', 'Gpu_Brands', 'Operating_system'], axis=1)

data.head()

data.describe()

,laptop_ID,Inches,Price_euros,target,Company_Label,Gpu_Brands_Label,Cpu_Brands_Label,TypeName_Label,OperatingSys_label,Memory_GB
count,1303.000000,1303.000000,1303.000000,1303.000000,1303.000000,1303.000000,1303.000000,1303.000000,1303.000000,1303.000000
mean,660.155794,15.017191,1123.686992,1226.430545,6.442824,2.029931,4.851113,2.582502,4.718342,610.904068
std,381.172104,1.426304,699.009043,763.258794,4.084128,0.927409,1.628546,1.245231,0.932281,467.509021
min,1.000000,10.100000,174.000000,189.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000
25%,331.500000,14.000000,599.000000,654.000000,4.000000,2.000000,5.000000,1.500000,5.000000,256.000000
50%,659.000000,15.600000,977.000000,1066.000000,7.000000,2.000000,5.000000,3.000000,5.000000,500.000000
75%,990.500000,15.600000,1487.880000,1624.000000,10.000000,3.000000,6.000000,3.000000,5.000000,1000.000000
max,1320.000000,18.400000,6099.000000,6659.000000,18.000000,3.000000,9.000000,5.000000,6.000000,2512.000000

In [ ]:
# Clustering before pre-processing (but with label-encoding)starts here:

# Gets all the clusters
kmeans = KMeans(n_clusters = 11, random_state = 30)
y_kmeans = kmeans.fit_predict(data)
kmeans.cluster_centers_


# Calculates the MSE
weighted_mse = 0
y = data['Price_euros']
for cluster_index in range(kmeans.n_clusters):
  y_in_cluster = y[y_kmeans == cluster_index] # I made this line of code with the help of AI
  mse = mean_squared_error(y_in_cluster, [y_in_cluster.mean()] * len(y_in_cluster))
  weighted_mse += (len(y_in_cluster) / len(y)) * mse
print(weighted_mse)

43401.79318629258

In [ ]:
# Clustering with z-score normalization starts here:

standard_scaler = StandardScaler()
data_standard_scaler = standard_scaler.fit_transform(data.drop('Price_euros',axis=1))
kmeans = KMeans(n_clusters = 11, random_state = 30)
y_kmeans = kmeans.fit_predict(data_standard_scaler)
kmeans.cluster_centers_

weighted_mse = 0
y = data['Price_euros']
for cluster_index in range(kmeans.n_clusters):
  y_in_cluster = y[y_kmeans == cluster_index]
  mse = mean_squared_error(y_in_cluster, [y_in_cluster.mean()] * len(y_in_cluster))
  weighted_mse += (len(y_in_cluster) / len(y)) * mse
print(weighted_mse)

188616.41511521174

In [ ]:
# Clustering with min-max normalization starts here:

from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
data_min_max_scaler = min_max_scaler.fit_transform(data.drop('Price_euros',axis=1))
kmeans = KMeans(n_clusters = 11, random_state = 30)
y_kmeans = kmeans.fit_predict(data_min_max_scaler)
kmeans.cluster_centers_

weighted_mse = 0
y = data['Price_euros']
for cluster_index in range(kmeans.n_clusters):
  y_in_cluster = y[y_kmeans == cluster_index]
  mse = mean_squared_error(y_in_cluster, [y_in_cluster.mean()] * len(y_in_cluster))
  weighted_mse += (len(y_in_cluster) / len(y)) * mse
print(weighted_mse)

379222.4316104201

Now, using the model that performed the best, I'm going to analyze the dataset
using a range of n_clusters and see the price range.

In [ ]:
for k in [2, 4, 8, 16, 32, 64, 128]:
  kmeans = KMeans(n_clusters = k, random_state = 30)
  y_kmeans = kmeans.fit_predict(data)
  kmeans.cluster_centers_
  weighted_mse = 0

  y = data['Price_euros']
  for cluster_index in range(kmeans.n_clusters):
    y_in_cluster = y[y_kmeans == cluster_index]

    # These 3 lines of code were made with the help of AI.
    print(f"Cluster {cluster_index}: Size={len(y_in_cluster)}, "
      f"Price range=€{y_in_cluster.min():.0f}-€{y_in_cluster.max():.0f}, "
      f"Mean=€{y_in_cluster.mean():.0f}")

Cluster 0: Size=950, Price range=€174-€1429, Mean=€783
Cluster 1: Size=353, Price range=€1396-€6099, Mean=€2042
Cluster 0: Size=507, Price range=€174-€833, Mean=€522
Cluster 1: Size=455, Price range=€759-€1499, Mean=€1091
Cluster 2: Size=253, Price range=€1390-€2339, Mean=€1793
Cluster 3: Size=88, Price range=€2242-€6099, Mean=€2836
Cluster 0: Size=198, Price range=€174-€989, Mean=€583
Cluster 1: Size=197, Price range=€1409-€2297, Mean=€1823
Cluster 2: Size=232, Price range=€252-€1407, Mean=€801
Cluster 3: Size=10, Price range=€3499-€6099, Mean=€4345
Cluster 4: Size=92, Price range=€2099-€3299, Mean=€2581
Cluster 5: Size=178, Price range=€745-€1519, Mean=€1072
Cluster 6: Size=208, Price range=€192-€810, Mean=€475
Cluster 7: Size=188, Price range=€881-€1637, Mean=€1241
Cluster 0: Size=117, Price range=€174-€752, Mean=€468
Cluster 1: Size=106, Price range=€1629-€2251, Mean=€1913
Cluster 2: Size=69, Price range=€889-€1499, Mean=€1168
Cluster 3: Size=4, Price range=€4389-€6099, Mean=€5222
Cluster 4: Size=45, Price range=€2099-€2869, Mean=€2475
Cluster 5: Size=135, Price range=€800-€1549, Mean=€1106
Cluster 6: Size=180, Price range=€192-€799, Mean=€501
Cluster 7: Size=145, Price range=€730-€1229, Mean=€1001
Cluster 8: Size=103, Price range=€252-€891, Mean=€586
Cluster 9: Size=15, Price range=€2899-€3975, Mean=€3373
Cluster 10: Size=80, Price range=€272-€779, Mean=€525
Cluster 11: Size=40, Price range=€2277-€3100, Mean=€2566
Cluster 12: Size=56, Price range=€1399-€2094, Mean=€1749
Cluster 13: Size=27, Price range=€389-€1396, Mean=€831
Cluster 14: Size=72, Price range=€764-€1370, Mean=€993
Cluster 15: Size=109, Price range=€1244-€1813, Mean=€1483
Cluster 0: Size=59, Price range=€289-€737, Mean=€505
Cluster 1: Size=40, Price range=€1584-€1908, Mean=€1749
Cluster 2: Size=54, Price range=€694-€1099, Mean=€895
Cluster 3: Size=19, Price range=€2049-€2599, Mean=€2316
Cluster 4: Size=71, Price range=€499-€899, Mean=€722
Cluster 5: Size=62, Price range=€1215-€1649, Mean=€1391
Cluster 6: Size=4, Price range=€3949-€4899, Mean=€4303
Cluster 7: Size=56, Price range=€298-€819, Mean=€588
Cluster 8: Size=18, Price range=€2625-€3055, Mean=€2787
Cluster 9: Size=29, Price range=€1312-€1949, Mean=€1624
Cluster 10: Size=50, Price range=€1099-€1549, Mean=€1299
Cluster 11: Size=10, Price range=€3073-€3890, Mean=€3370
Cluster 12: Size=93, Price range=€539-€973, Mean=€768
Cluster 13: Size=17, Price range=€2199-€2599, Mean=€2436
Cluster 14: Size=61, Price range=€749-€1272, Mean=€966
Cluster 15: Size=69, Price range=€192-€599, Mean=€393
Cluster 16: Size=101, Price range=€940-€1305, Mean=€1138
Cluster 17: Size=2, Price range=€5499-€6099, Mean=€5799
Cluster 18: Size=11, Price range=€971-€1799, Mean=€1202
Cluster 19: Size=79, Price range=€869-€1199, Mean=€1022
Cluster 20: Size=42, Price range=€272-€709, Mean=€482
Cluster 21: Size=23, Price range=€1591-€2051, Mean=€1819
Cluster 22: Size=61, Price range=€252-€699, Mean=€493
Cluster 23: Size=39, Price range=€1680-€2140, Mean=€1906
Cluster 24: Size=41, Price range=€174-€499, Mean=€306
Cluster 25: Size=21, Price range=€2172-€2680, Mean=€2344
Cluster 26: Size=61, Price range=€1349-€1713, Mean=€1509
Cluster 27: Size=30, Price range=€1790-€2103, Mean=€1951
Cluster 28: Size=14, Price range=€2099-€2499, Mean=€2313
Cluster 29: Size=38, Price range=€224-€639, Mean=€392
Cluster 30: Size=17, Price range=€389-€990, Mean=€647
Cluster 31: Size=11, Price range=€2712-€3100, Mean=€2908
Cluster 0: Size=30, Price range=€289-€540, Mean=€399
Cluster 1: Size=34, Price range=€1649-€1908, Mean=€1788
Cluster 2: Size=14, Price range=€855-€1095, Mean=€966
Cluster 3: Size=5, Price range=€2799-€3055, Mean=€2898
Cluster 4: Size=36, Price range=€489-€749, Mean=€622
Cluster 5: Size=29, Price range=€1020-€1299, Mean=€1153
Cluster 6: Size=18, Price range=€649-€961, Mean=€798
Cluster 7: Size=9, Price range=€1476-€1600, Mean=€1547
Cluster 8: Size=1, Price range=€6099-€6099, Mean=€6099
Cluster 9: Size=12, Price range=€1993-€2268, Mean=€2112
Cluster 10: Size=14, Price range=€258-€489, Mean=€363
Cluster 11: Size=30, Price range=€469-€694, Mean=€595
Cluster 12: Size=16, Price range=€2172-€2440, Mean=€2278
Cluster 13: Size=19, Price range=€1262-€1519, Mean=€1374
Cluster 14: Size=15, Price range=€2150-€2599, Mean=€2360
Cluster 15: Size=13, Price range=€849-€1396, Mean=€1089
Cluster 16: Size=44, Price range=€785-€1012, Mean=€897
Cluster 17: Size=24, Price range=€203-€499, Mean=€361
Cluster 18: Size=1, Price range=€4389-€4389, Mean=€4389
Cluster 19: Size=15, Price range=€2199-€2589, Mean=€2415
Cluster 20: Size=11, Price range=€2712-€3100, Mean=€2908
Cluster 21: Size=38, Price range=€867-€1179, Mean=€1026
Cluster 22: Size=23, Price range=€1269-€1549, Mean=€1408
Cluster 23: Size=30, Price range=€1349-€1599, Mean=€1478
Cluster 24: Size=37, Price range=€479-€847, Mean=€675
Cluster 25: Size=20, Price range=€499-€709, Mean=€576
Cluster 26: Size=31, Price range=€199-€449, Mean=€318
Cluster 27: Size=48, Price range=€779-€1000, Mean=€896
Cluster 28: Size=17, Price range=€1534-€1804, Mean=€1677
Cluster 29: Size=5, Price range=€1799-€2649, Mean=€2288
Cluster 30: Size=14, Price range=€389-€839, Mean=€590
Cluster 31: Size=26, Price range=€764-€1029, Mean=€872
Cluster 32: Size=22, Price range=€224-€479, Mean=€376
Cluster 33: Size=3, Price range=€3589-€3890, Mean=€3713
Cluster 34: Size=10, Price range=€2349-€2699, Mean=€2528
Cluster 35: Size=36, Price range=€298-€659, Mean=€512
Cluster 36: Size=24, Price range=€979-€1269, Mean=€1141
Cluster 37: Size=13, Price range=€1197-€1510, Mean=€1361
Cluster 38: Size=8, Price range=€2729-€2899, Mean=€2799
Cluster 39: Size=36, Price range=€252-€549, Mean=€420
Cluster 40: Size=20, Price range=€272-€478, Mean=€399
Cluster 41: Size=40, Price range=€549-€800, Mean=€672
Cluster 42: Size=20, Price range=€1099-€1399, Mean=€1241
Cluster 43: Size=7, Price range=€2419-€2680, Mean=€2567
Cluster 44: Size=26, Price range=€192-€509, Mean=€386
Cluster 45: Size=6, Price range=€3073-€3299, Mean=€3177
Cluster 46: Size=21, Price range=€999-€1348, Mean=€1149
Cluster 47: Size=15, Price range=€174-€429, Mean=€241
Cluster 48: Size=31, Price range=€1798-€2140, Mean=€1948
Cluster 49: Size=20, Price range=€490-€780, Mean=€631
Cluster 50: Size=14, Price range=€1591-€1890, Mean=€1742
Cluster 51: Size=1, Price range=€4899-€4899, Mean=€4899
Cluster 52: Size=20, Price range=€599-€875, Mean=€728
Cluster 53: Size=39, Price range=€1105-€1349, Mean=€1215
Cluster 54: Size=23, Price range=€1887-€2103, Mean=€1988
Cluster 55: Size=27, Price range=€1275-€1599, Mean=€1412
Cluster 56: Size=24, Price range=€1529-€1813, Mean=€1667
Cluster 57: Size=3, Price range=€3499-€3975, Mean=€3808
Cluster 58: Size=22, Price range=€689-€902, Mean=€800
Cluster 59: Size=39, Price range=€989-€1230, Mean=€1099
Cluster 60: Size=14, Price range=€1279-€1499, Mean=€1409
Cluster 61: Size=18, Price range=€1749-€2050, Mean=€1864
Cluster 62: Size=1, Price range=€5499-€5499, Mean=€5499
Cluster 63: Size=21, Price range=€709-€955, Mean=€813
Cluster 0: Size=13, Price range=€380-€540, Mean=€462
Cluster 1: Size=13, Price range=€1749-€1900, Mean=€1831
Cluster 2: Size=13, Price range=€855-€1095, Mean=€962
Cluster 3: Size=2, Price range=€3013-€3055, Mean=€3034
Cluster 4: Size=17, Price range=€602-€812, Mean=€721
Cluster 5: Size=22, Price range=€1089-€1299, Mean=€1175
Cluster 6: Size=12, Price range=€749-€929, Mean=€846
Cluster 7: Size=9, Price range=€1476-€1600, Mean=€1547
Cluster 8: Size=1, Price range=€6099-€6099, Mean=€6099
Cluster 9: Size=6, Price range=€1935-€2094, Mean=€2020
Cluster 10: Size=13, Price range=€258-€489, Mean=€370
Cluster 11: Size=24, Price range=€469-€694, Mean=€591
Cluster 12: Size=13, Price range=€2172-€2339, Mean=€2257
Cluster 13: Size=2, Price range=€1262-€1340, Mean=€1301
Cluster 14: Size=7, Price range=€2254-€2499, Mean=€2359
Cluster 15: Size=5, Price range=€849-€1049, Mean=€951
Cluster 16: Size=21, Price range=€829-€1034, Mean=€941
Cluster 17: Size=13, Price range=€203-€389, Mean=€320
Cluster 18: Size=1, Price range=€4389-€4389, Mean=€4389
Cluster 19: Size=9, Price range=€2199-€2450, Mean=€2336
Cluster 20: Size=4, Price range=€2712-€2999, Mean=€2863
Cluster 21: Size=9, Price range=€1135-€1299, Mean=€1199
Cluster 22: Size=10, Price range=€1269-€1498, Mean=€1382
Cluster 23: Size=21, Price range=€1379-€1590, Mean=€1484
Cluster 24: Size=6, Price range=€549-€775, Mean=€698
Cluster 25: Size=14, Price range=€522-€709, Mean=€589
Cluster 26: Size=15, Price range=€199-€375, Mean=€285
Cluster 27: Size=26, Price range=€829-€1000, Mean=€928
Cluster 28: Size=7, Price range=€1534-€1749, Mean=€1678
Cluster 29: Size=3, Price range=€2242-€2449, Mean=€2330
Cluster 30: Size=3, Price range=€389-€459, Mean=€412
Cluster 31: Size=18, Price range=€764-€909, Mean=€831
Cluster 32: Size=10, Price range=€298-€490, Mean=€395
Cluster 33: Size=2, Price range=€3589-€3659, Mean=€3624
Cluster 34: Size=4, Price range=€2449-€2639, Mean=€2553
Cluster 35: Size=17, Price range=€298-€521, Mean=€435
Cluster 36: Size=10, Price range=€979-€1099, Mean=€1051
Cluster 37: Size=5, Price range=€1262-€1403, Mean=€1349
Cluster 38: Size=4, Price range=€2599-€2800, Mean=€2727
Cluster 39: Size=19, Price range=€252-€489, Mean=€393
Cluster 40: Size=20, Price range=€272-€500, Mean=€401
Cluster 41: Size=21, Price range=€549-€719, Mean=€626
Cluster 42: Size=9, Price range=€1199-€1399, Mean=€1320
Cluster 43: Size=4, Price range=€2419-€2599, Mean=€2542
Cluster 44: Size=11, Price range=€369-€499, Mean=€434
Cluster 45: Size=1, Price range=€3147-€3147, Mean=€3147
Cluster 46: Size=11, Price range=€961-€1120, Mean=€1058
Cluster 47: Size=12, Price range=€174-€278, Mean=€219
Cluster 48: Size=14, Price range=€1798-€2027, Mean=€1924
Cluster 49: Size=10, Price range=€529-€689, Mean=€609
Cluster 50: Size=8, Price range=€1649-€1799, Mean=€1714
Cluster 51: Size=1, Price range=€4899-€4899, Mean=€4899
Cluster 52: Size=11, Price range=€629-€875, Mean=€728
Cluster 53: Size=16, Price range=€1265-€1399, Mean=€1331
Cluster 54: Size=14, Price range=€1899-€2103, Mean=€2011
Cluster 55: Size=14, Price range=€1299-€1500, Mean=€1391
Cluster 56: Size=16, Price range=€1579-€1813, Mean=€1684
Cluster 57: Size=1, Price range=€3975-€3975, Mean=€3975
Cluster 58: Size=25, Price range=€639-€902, Mean=€782
Cluster 59: Size=18, Price range=€989-€1179, Mean=€1086
Cluster 60: Size=8, Price range=€1279-€1499, Mean=€1408
Cluster 61: Size=11, Price range=€1749-€1899, Mean=€1800
Cluster 62: Size=1, Price range=€5499-€5499, Mean=€5499
Cluster 63: Size=18, Price range=€739-€955, Mean=€829
Cluster 64: Size=16, Price range=€935-€1094, Mean=€1026
Cluster 65: Size=18, Price range=€429-€691, Mean=€584
Cluster 66: Size=1, Price range=€2649-€2649, Mean=€2649
Cluster 67: Size=13, Price range=€475-€699, Mean=€603
Cluster 68: Size=1, Price range=€3890-€3890, Mean=€3890
Cluster 69: Size=9, Price range=€1249-€1499, Mean=€1355
Cluster 70: Size=6, Price range=€1949-€2135, Mean=€2037
Cluster 71: Size=7, Price range=€949-€1009, Mean=€983
Cluster 72: Size=4, Price range=€1519-€1804, Mean=€1650
Cluster 73: Size=5, Price range=€1749-€1890, Mean=€1816
Cluster 74: Size=22, Price range=€979-€1199, Mean=€1091
Cluster 75: Size=16, Price range=€289-€399, Mean=€343
Cluster 76: Size=1, Price range=€1799-€1799, Mean=€1799
Cluster 77: Size=1, Price range=€990-€990, Mean=€990
Cluster 78: Size=7, Price range=€2799-€3100, Mean=€2933
Cluster 79: Size=4, Price range=€2775-€2899, Mean=€2839
Cluster 80: Size=7, Price range=€1084-€1298, Mean=€1212
Cluster 81: Size=2, Price range=€1299-€1396, Mean=€1348
Cluster 82: Size=8, Price range=€1900-€2153, Mean=€2016
Cluster 83: Size=11, Price range=€785-€1064, Mean=€915
Cluster 84: Size=6, Price range=€1499-€1591, Mean=€1528
Cluster 85: Size=1, Price range=€3499-€3499, Mean=€3499
Cluster 86: Size=21, Price range=€745-€955, Mean=€849
Cluster 87: Size=7, Price range=€569-€839, Mean=€672
Cluster 88: Size=10, Price range=€1887-€2065, Mean=€1949
Cluster 89: Size=5, Price range=€1099-€1219, Mean=€1145
Cluster 90: Size=14, Price range=€224-€479, Mean=€363
Cluster 91: Size=4, Price range=€2199-€2399, Mean=€2304
Cluster 92: Size=17, Price range=€404-€553, Mean=€476
Cluster 93: Size=16, Price range=€640-€830, Mean=€737
Cluster 94: Size=1, Price range=€3949-€3949, Mean=€3949
Cluster 95: Size=4, Price range=€2440-€2680, Mean=€2560
Cluster 96: Size=6, Price range=€2663-€2824, Mean=€2752
Cluster 97: Size=14, Price range=€1130-€1299, Mean=€1192
Cluster 98: Size=8, Price range=€2397-€2589, Mean=€2483
Cluster 99: Size=21, Price range=€367-€600, Mean=€472
Cluster 100: Size=23, Price range=€1095-€1229, Mean=€1168
Cluster 101: Size=5, Price range=€2299-€2505, Mean=€2398
Cluster 102: Size=12, Price range=€1315-€1499, Mean=€1399
Cluster 103: Size=6, Price range=€1427-€1579, Mean=€1499
Cluster 104: Size=16, Price range=€466-€708, Mean=€588
Cluster 105: Size=12, Price range=€1029-€1272, Mean=€1164
Cluster 106: Size=12, Price range=€752-€959, Mean=€846
Cluster 107: Size=13, Price range=€1450-€1599, Mean=€1528
Cluster 108: Size=11, Price range=€1639-€1775, Mean=€1685
Cluster 109: Size=2, Price range=€2456-€2499, Mean=€2478
Cluster 110: Size=7, Price range=€1072-€1280, Mean=€1152
Cluster 111: Size=11, Price range=€1679-€1908, Mean=€1800
Cluster 112: Size=5, Price range=€2029-€2249, Mean=€2140
Cluster 113: Size=10, Price range=€1168-€1348, Mean=€1244
Cluster 114: Size=17, Price range=€699-€902, Mean=€785
Cluster 115: Size=8, Price range=€192-€319, Mean=€246
Cluster 116: Size=11, Price range=€910-€1060, Mean=€993
Cluster 117: Size=9, Price range=€1215-€1349, Mean=€1283
Cluster 118: Size=17, Price range=€539-€726, Mean=€622
Cluster 119: Size=21, Price range=€239-€419, Mean=€333
Cluster 120: Size=12, Price range=€1579-€1858, Mean=€1731
Cluster 121: Size=1, Price range=€3299-€3299, Mean=€3299
Cluster 122: Size=8, Price range=€1849-€2140, Mean=€1963
Cluster 123: Size=4, Price range=€3073-€3240, Mean=€3154
Cluster 124: Size=6, Price range=€1398-€1549, Mean=€1486
Cluster 125: Size=4, Price range=€519-€699, Mean=€581
Cluster 126: Size=14, Price range=€468-€630, Mean=€561
Cluster 127: Size=14, Price range=€599-€825, Mean=€718

That has been completed.

In [ ]:
# In order to improve the model, I'm using a correlation matrix to find which
# features to use.

price_corr = data.corr()['Price_euros'].abs().sort_values(ascending=False)
# print(price_corr)

important_features = ['Price_euros', 'Ram_types',
                      'Cpu_Brands_Label', 'Gpu_Brands_Label'
                      , 'OperatingSys_label']
important_data = data[important_features]

# Adding weights to the features
important_data['Ram_types'] *= 3
important_data['Cpu_Brands_Label'] *= 2
important_data['Gpu_Brands_Label'] *= 1
important_data['OperatingSys_label'] *= 1

# Now I'm going to do what I did above, except with the pre-processed data set.

for k_values in [2, 4, 8, 16, 32, 64, 128]:
  kmeans = KMeans(n_clusters = k_values, random_state = 30)
  y_kmeans = kmeans.fit_predict(important_data)
  kmeans.cluster_centers_
  weighted_mse = 0


  y = data['Price_euros']
  for cluster_index in range(kmeans.n_clusters):
    y_in_cluster = y[y_kmeans == cluster_index]
    print(f"Cluster {cluster_index}: Size={len(y_in_cluster)}, "
      f"Price range=€{y_in_cluster.min():.0f}-€{y_in_cluster.max():.0f}, "
      f"Mean=€{y_in_cluster.mean():.0f}")

/tmp/ipython-input-14-3074010765.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  important_data['Ram_types'] *= 3
/tmp/ipython-input-14-3074010765.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  important_data['Cpu_Brands_Label'] *= 2
/tmp/ipython-input-14-3074010765.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  important_data['Gpu_Brands_Label'] *= 1
/tmp/ipython-input-14-3074010765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  important_data['OperatingSys_label'] *= 1

Cluster 0: Size=1057, Price range=€174-€3949, Mean=€925
Cluster 1: Size=246, Price range=€609-€6099, Mean=€1979
Cluster 0: Size=1057, Price range=€174-€3949, Mean=€925
Cluster 1: Size=225, Price range=€609-€4389, Mean=€1859
Cluster 2: Size=20, Price range=€1269-€6099, Mean=€3232
Cluster 3: Size=1, Price range=€3975-€3975, Mean=€3975
Cluster 0: Size=610, Price range=€174-€1055, Mean=€583
Cluster 1: Size=110, Price range=€1819-€4389, Mean=€2350
Cluster 2: Size=17, Price range=€1279-€6099, Mean=€3413
Cluster 3: Size=1, Price range=€3975-€3975, Mean=€3975
Cluster 4: Size=25, Price range=€609-€2299, Mean=€1239
Cluster 5: Size=3, Price range=€1269-€2968, Mean=€2206
Cluster 6: Size=447, Price range=€902-€3949, Mean=€1391
Cluster 7: Size=90, Price range=€859-€1799, Mean=€1432
Cluster 0: Size=278, Price range=€174-€621, Mean=€409
Cluster 1: Size=70, Price range=€1591-€2153, Mean=€1873
Cluster 2: Size=14, Price range=€1279-€3890, Mean=€2966
Cluster 3: Size=1, Price range=€3975-€3975, Mean=€3975
Cluster 4: Size=25, Price range=€609-€2299, Mean=€1239
Cluster 5: Size=3, Price range=€1269-€2968, Mean=€2206
Cluster 6: Size=172, Price range=€1142-€1535, Mean=€1314
Cluster 7: Size=62, Price range=€859-€1549, Mean=€1299
Cluster 8: Size=201, Price range=€806-€1135, Mean=€965
Cluster 9: Size=64, Price range=€2199-€3055, Mean=€2521
Cluster 10: Size=25, Price range=€2089-€3949, Mean=€2451
Cluster 11: Size=3, Price range=€4899-€6099, Mean=€5499
Cluster 12: Size=101, Price range=€1539-€2065, Mean=€1782
Cluster 13: Size=122, Price range=€629-€1265, Mean=€830
Cluster 14: Size=4, Price range=€3154-€4389, Mean=€3585
Cluster 15: Size=158, Price range=€329-€800, Mean=€641
Cluster 0: Size=112, Price range=€393-€553, Mean=€466
Cluster 1: Size=31, Price range=€1949-€2254, Mean=€2092
Cluster 2: Size=6, Price range=€3147-€3890, Mean=€3446
Cluster 3: Size=1, Price range=€3975-€3975, Mean=€3975
Cluster 4: Size=13, Price range=€1249-€2299, Mean=€1609
Cluster 5: Size=2, Price range=€2382-€2968, Mean=€2675
Cluster 6: Size=136, Price range=€1009-€1260, Mean=€1129
Cluster 7: Size=37, Price range=€1925-€2408, Mean=€2105
Cluster 8: Size=31, Price range=€859-€1305, Mean=€1144
Cluster 9: Size=19, Price range=€2699-€3499, Mean=€2929
Cluster 10: Size=104, Price range=€329-€750, Mean=€613
Cluster 11: Size=107, Price range=€1262-€1561, Mean=€1398
Cluster 12: Size=46, Price range=€769-€1031, Mean=€876
Cluster 13: Size=1, Price range=€4899-€4899, Mean=€4899
Cluster 14: Size=7, Price range=€2639-€3073, Mean=€2796
Cluster 15: Size=12, Price range=€609-€1099, Mean=€839
Cluster 16: Size=7, Price range=€2499-€3100, Mean=€2765
Cluster 17: Size=40, Price range=€2268-€2680, Mean=€2447
Cluster 18: Size=74, Price range=€1579-€1908, Mean=€1744
Cluster 19: Size=155, Price range=€752-€1000, Mean=€886
Cluster 20: Size=104, Price range=€196-€390, Mean=€318
Cluster 21: Size=25, Price range=€1055-€1599, Mean=€1235
Cluster 22: Size=1, Price range=€1269-€1269, Mean=€1269
Cluster 23: Size=36, Price range=€1329-€1608, Mean=€1475
Cluster 24: Size=1, Price range=€1279-€1279, Mean=€1279
Cluster 25: Size=38, Price range=€409-€799, Mean=€594
Cluster 26: Size=1, Price range=€3949-€3949, Mean=€3949
Cluster 27: Size=1, Price range=€4389-€4389, Mean=€4389
Cluster 28: Size=2, Price range=€5499-€6099, Mean=€5799
Cluster 29: Size=22, Price range=€174-€379, Mean=€254
Cluster 30: Size=89, Price range=€559-€755, Mean=€653
Cluster 31: Size=42, Price range=€1649-€1935, Mean=€1811
Cluster 0: Size=78, Price range=€428-€530, Mean=€476
Cluster 1: Size=10, Price range=€1929-€1983, Mean=€1958
Cluster 2: Size=3, Price range=€3589-€3890, Mean=€3713
Cluster 3: Size=1, Price range=€3975-€3975, Mean=€3975
Cluster 4: Size=7, Price range=€839-€1099, Mean=€963
Cluster 5: Size=1, Price range=€2382-€2382, Mean=€2382
Cluster 6: Size=32, Price range=€1358-€1460, Mean=€1403
Cluster 7: Size=41, Price range=€679-€779, Mean=€732
Cluster 8: Size=7, Price range=€2277-€2408, Mean=€2319
Cluster 9: Size=14, Price range=€1049-€1219, Mean=€1140
Cluster 10: Size=31, Price range=€1009-€1079, Mean=€1040
Cluster 11: Size=6, Price range=€2999-€3499, Mean=€3170
Cluster 12: Size=28, Price range=€1790-€1925, Mean=€1860
Cluster 13: Size=1, Price range=€5499-€5499, Mean=€5499
Cluster 14: Size=18, Price range=€881-€1031, Mean=€965
Cluster 15: Size=6, Price range=€2639-€2800, Mean=€2750
Cluster 16: Size=27, Price range=€2397-€2625, Mean=€2484
Cluster 17: Size=25, Price range=€196-€278, Mean=€253
Cluster 18: Size=6, Price range=€1673-€1999, Mean=€1796
Cluster 19: Size=23, Price range=€1449-€1608, Mean=€1525
Cluster 20: Size=1, Price range=€1279-€1279, Mean=€1279
Cluster 21: Size=50, Price range=€535-€639, Mean=€590
Cluster 22: Size=17, Price range=€489-€565, Mean=€530
Cluster 23: Size=3, Price range=€2899-€3100, Mean=€2999
Cluster 24: Size=36, Price range=€1624-€1778, Mean=€1697
Cluster 25: Size=6, Price range=€1249-€1370, Mean=€1307
Cluster 26: Size=23, Price range=€539-€699, Mean=€600
Cluster 27: Size=1, Price range=€4389-€4389, Mean=€4389
Cluster 28: Size=15, Price range=€2649-€2968, Mean=€2797
Cluster 29: Size=20, Price range=€1055-€1285, Mean=€1150
Cluster 30: Size=48, Price range=€1159-€1249, Mean=€1194
Cluster 31: Size=1, Price range=€1269-€1269, Mean=€1269
Cluster 32: Size=45, Price range=€865-€932, Mean=€898
Cluster 33: Size=22, Price range=€174-€379, Mean=€254
Cluster 34: Size=7, Price range=€1539-€1799, Mean=€1624
Cluster 35: Size=1, Price range=€3949-€3949, Mean=€3949
Cluster 36: Size=46, Price range=€646-€749, Mean=€696
Cluster 37: Size=19, Price range=€2199-€2370, Mean=€2279
Cluster 38: Size=16, Price range=€1845-€1900, Mean=€1878
Cluster 39: Size=22, Price range=€1943-€2103, Mean=€2013
Cluster 40: Size=4, Price range=€3073-€3240, Mean=€3152
Cluster 41: Size=69, Price range=€344-€426, Mean=€379
Cluster 42: Size=23, Price range=€1249-€1427, Mean=€1341
Cluster 43: Size=1, Price range=€6099-€6099, Mean=€6099
Cluster 44: Size=1, Price range=€4899-€4899, Mean=€4899
Cluster 45: Size=1, Price range=€2968-€2968, Mean=€2968
Cluster 46: Size=5, Price range=€609-€713, Mean=€665
Cluster 47: Size=43, Price range=€1465-€1599, Mean=€1519
Cluster 48: Size=1, Price range=€2299-€2299, Mean=€2299
Cluster 49: Size=24, Price range=€1649-€1819, Mean=€1757
Cluster 50: Size=4, Price range=€2499-€2712, Mean=€2590
Cluster 51: Size=15, Price range=€2027-€2153, Mean=€2087
Cluster 52: Size=40, Price range=€573-€677, Mean=€623
Cluster 53: Size=9, Price range=€409-€529, Mean=€465
Cluster 54: Size=9, Price range=€719-€949, Mean=€804
Cluster 55: Size=7, Price range=€2135-€2251, Mean=€2209
Cluster 56: Size=7, Price range=€859-€1029, Mean=€950
Cluster 57: Size=55, Price range=€1080-€1154, Mean=€1117
Cluster 58: Size=14, Price range=€329-€469, Mean=€428
Cluster 59: Size=55, Price range=€784-€860, Mean=€821
Cluster 60: Size=43, Price range=€1258-€1350, Mean=€1308
Cluster 61: Size=47, Price range=€935-€1000, Mean=€970
Cluster 62: Size=35, Price range=€286-€340, Mean=€308
Cluster 63: Size=27, Price range=€754-€875, Mean=€808
Cluster 0: Size=47, Price range=€460-€500, Mean=€483
Cluster 1: Size=9, Price range=€1935-€1983, Mean=€1962
Cluster 2: Size=2, Price range=€3589-€3659, Mean=€3624
Cluster 3: Size=1, Price range=€3975-€3975, Mean=€3975
Cluster 4: Size=4, Price range=€839-€949, Mean=€909
Cluster 5: Size=1, Price range=€2382-€2382, Mean=€2382
Cluster 6: Size=19, Price range=€1388-€1429, Mean=€1404
Cluster 7: Size=19, Price range=€735-€770, Mean=€749
Cluster 8: Size=3, Price range=€2330-€2408, Mean=€2359
Cluster 9: Size=6, Price range=€1059-€1135, Mean=€1100
Cluster 10: Size=16, Price range=€1039-€1070, Mean=€1051
Cluster 11: Size=1, Price range=€3154-€3154, Mean=€3154
Cluster 12: Size=16, Price range=€1859-€1908, Mean=€1886
Cluster 13: Size=1, Price range=€5499-€5499, Mean=€5499
Cluster 14: Size=7, Price range=€875-€940, Mean=€909
Cluster 15: Size=2, Price range=€2639-€2663, Mean=€2651
Cluster 16: Size=7, Price range=€2499-€2537, Mean=€2507
Cluster 17: Size=23, Price range=€196-€275, Mean=€251
Cluster 18: Size=3, Price range=€1673-€1749, Mean=€1707
Cluster 19: Size=15, Price range=€1493-€1549, Mean=€1513
Cluster 20: Size=1, Price range=€1279-€1279, Mean=€1279
Cluster 21: Size=22, Price range=€585-€621, Mean=€604
Cluster 22: Size=15, Price range=€499-€565, Mean=€535
Cluster 23: Size=1, Price range=€2999-€2999, Mean=€2999
Cluster 24: Size=13, Price range=€1655-€1699, Mean=€1683
Cluster 25: Size=6, Price range=€1249-€1370, Mean=€1307
Cluster 26: Size=7, Price range=€619-€659, Mean=€646
Cluster 27: Size=1, Price range=€4389-€4389, Mean=€4389
Cluster 28: Size=6, Price range=€2750-€2824, Mean=€2787
Cluster 29: Size=10, Price range=€1055-€1135, Mean=€1091
Cluster 30: Size=33, Price range=€1179-€1224, Mean=€1197
Cluster 31: Size=1, Price range=€1269-€1269, Mean=€1269
Cluster 32: Size=35, Price range=€879-€919, Mean=€896
Cluster 33: Size=15, Price range=€174-€249, Mean=€218
Cluster 34: Size=5, Price range=€1539-€1599, Mean=€1573
Cluster 35: Size=1, Price range=€3949-€3949, Mean=€3949
Cluster 36: Size=22, Price range=€668-€708, Mean=€689
Cluster 37: Size=8, Price range=€2199-€2254, Mean=€2226
Cluster 38: Size=9, Price range=€1890-€1929, Mean=€1901
Cluster 39: Size=5, Price range=€1993-€2025, Mean=€2009
Cluster 40: Size=3, Price range=€3073-€3149, Mean=€3123
Cluster 41: Size=39, Price range=€367-€409, Mean=€386
Cluster 42: Size=12, Price range=€1271-€1349, Mean=€1308
Cluster 43: Size=1, Price range=€6099-€6099, Mean=€6099
Cluster 44: Size=1, Price range=€4899-€4899, Mean=€4899
Cluster 45: Size=1, Price range=€2968-€2968, Mean=€2968
Cluster 46: Size=3, Price range=€609-€659, Mean=€639
Cluster 47: Size=12, Price range=€1510-€1579, Mean=€1539
Cluster 48: Size=1, Price range=€2299-€2299, Mean=€2299
Cluster 49: Size=8, Price range=€1747-€1769, Mean=€1753
Cluster 50: Size=1, Price range=€2712-€2712, Mean=€2712
Cluster 51: Size=11, Price range=€2027-€2099, Mean=€2068
Cluster 52: Size=24, Price range=€573-€629, Mean=€600
Cluster 53: Size=1, Price range=€409-€409, Mean=€409
Cluster 54: Size=3, Price range=€831-€949, Mean=€880
Cluster 55: Size=5, Price range=€2135-€2229, Mean=€2193
Cluster 56: Size=5, Price range=€990-€1049, Mean=€1013
Cluster 57: Size=14, Price range=€1109-€1135, Mean=€1122
Cluster 58: Size=5, Price range=€329-€399, Mean=€379
Cluster 59: Size=16, Price range=€813-€841, Mean=€828
Cluster 60: Size=13, Price range=€1292-€1323, Mean=€1303
Cluster 61: Size=26, Price range=€971-€1000, Mean=€988
Cluster 62: Size=29, Price range=€278-€322, Mean=€299
Cluster 63: Size=12, Price range=€805-€869, Mean=€838
Cluster 64: Size=7, Price range=€1149-€1205, Mean=€1186
Cluster 65: Size=9, Price range=€2440-€2456, Mean=€2447
Cluster 66: Size=1, Price range=€3499-€3499, Mean=€3499
Cluster 67: Size=6, Price range=€2589-€2649, Mean=€2614
Cluster 68: Size=1, Price range=€3890-€3890, Mean=€3890
Cluster 69: Size=4, Price range=€2799-€2800, Mean=€2799
Cluster 70: Size=20, Price range=€639-€689, Mean=€662
Cluster 71: Size=5, Price range=€1713-€1738, Mean=€1724
Cluster 72: Size=1, Price range=€1999-€1999, Mean=€1999
Cluster 73: Size=11, Price range=€429-€495, Mean=€462
Cluster 74: Size=4, Price range=€2968-€3055, Mean=€3009
Cluster 75: Size=15, Price range=€529-€598, Mean=€561
Cluster 76: Size=29, Price range=€1449-€1500, Mean=€1481
Cluster 77: Size=5, Price range=€1425-€1479, Mean=€1450
Cluster 78: Size=4, Price range=€330-€379, Mean=€367
Cluster 79: Size=5, Price range=€2325-€2370, Mean=€2346
Cluster 80: Size=3, Price range=€999-€1099, Mean=€1036
Cluster 81: Size=4, Price range=€2122-€2153, Mean=€2141
Cluster 82: Size=12, Price range=€509-€544, Mean=€526
Cluster 83: Size=2, Price range=€1700-€1799, Mean=€1750
Cluster 84: Size=10, Price range=€1799-€1849, Mean=€1818
Cluster 85: Size=5, Price range=€1591-€1608, Mean=€1599
Cluster 86: Size=3, Price range=€2499-€2590, Mean=€2549
Cluster 87: Size=12, Price range=€959-€1031, Mean=€990
Cluster 88: Size=14, Price range=€754-€800, Mean=€778
Cluster 89: Size=16, Price range=€1584-€1650, Mean=€1620
Cluster 90: Size=9, Price range=€1159-€1262, Mean=€1203
Cluster 91: Size=3, Price range=€859-€899, Mean=€879
Cluster 92: Size=8, Price range=€695-€799, Mean=€749
Cluster 93: Size=9, Price range=€2040-€2103, Mean=€2064
Cluster 94: Size=30, Price range=€411-€456, Mean=€436
Cluster 95: Size=19, Price range=€1229-€1280, Mean=€1260
Cluster 96: Size=28, Price range=€779-€812, Mean=€797
Cluster 97: Size=3, Price range=€2680-€2729, Mean=€2703
Cluster 98: Size=7, Price range=€1379-€1407, Mean=€1397
Cluster 99: Size=30, Price range=€324-€365, Mean=€347
Cluster 100: Size=11, Price range=€1798-€1819, Mean=€1801
Cluster 101: Size=26, Price range=€1142-€1169, Mean=€1154
Cluster 102: Size=2, Price range=€694-€713, Mean=€704
Cluster 103: Size=1, Price range=€3100-€3100, Mean=€3100
Cluster 104: Size=27, Price range=€1072-€1103, Mean=€1093
Cluster 105: Size=24, Price range=€1334-€1379, Mean=€1353
Cluster 106: Size=8, Price range=€1845-€1877, Mean=€1858
Cluster 107: Size=4, Price range=€2858-€2899, Mean=€2878
Cluster 108: Size=1, Price range=€3299-€3299, Mean=€3299
Cluster 109: Size=17, Price range=€629-€659, Mean=€645
Cluster 110: Size=7, Price range=€439-€499, Mean=€463
Cluster 111: Size=3, Price range=€1244-€1285, Mean=€1265
Cluster 112: Size=9, Price range=€1925-€1970, Mean=€1955
Cluster 113: Size=13, Price range=€1009-€1034, Mean=€1019
Cluster 114: Size=15, Price range=€719-€749, Mean=€731
Cluster 115: Size=3, Price range=€275-€304, Mean=€286
Cluster 116: Size=2, Price range=€1799-€1858, Mean=€1828
Cluster 117: Size=6, Price range=€2268-€2299, Mean=€2292
Cluster 118: Size=5, Price range=€1649-€1699, Mean=€1665
Cluster 119: Size=27, Price range=€919-€961, Mean=€944
Cluster 120: Size=1, Price range=€3240-€3240, Mean=€3240
Cluster 121: Size=10, Price range=€1749-€1790, Mean=€1764
Cluster 122: Size=17, Price range=€546-€579, Mean=€561
Cluster 123: Size=6, Price range=€2249-€2299, Mean=€2276
Cluster 124: Size=1, Price range=€2899-€2899, Mean=€2899
Cluster 125: Size=15, Price range=€690-€729, Mean=€714
Cluster 126: Size=6, Price range=€2397-€2419, Mean=€2408
Cluster 127: Size=18, Price range=€844-€870, Mean=€856
[317781.021439545, 288147.7390114574, 115858.27351763444, 30792.404873692027, 9492.367874877471, 1699.9747777694633, 272.7234946202224]
764044.5049895961